body {
	font-family: 'Handlee', cursive !important;
	text-align: center !important;
	background-image: url("sea-2052650_1920.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%
	height: auto;
}

h1.main-title {
	font-family: 'Permanent Marker', cursive;
	padding-top: 2em;
}

.main-content {
	padding: 2em 3em;
	border-radius: 10px;
	background-color: rgba(109, 134, 251, 0.6);
	height: 80vh;
	max-height: calc(80em * (9/16));
}

.message {
	margin: 20px;
	padding: 10px;
	font-size: 22px;
}

.message input[type=text] {
	width: 50%;
}

.message input[type=button] {
	background-color: #3A74F0;
	color: #03369D;
	outline: none;
	border: none;
	padding: 3px 8px;
}

.message input[type=button]:hover {
	background-color: #03369D;
	color: #3A74F0;
}

.answer {
	margin-bottom: 2em;
	padding: 2em;
	border-radius: 10px;
	background-color: rgba(148, 154, 250, 0.5);
	overflow-wrap: break-word;
	word-break: break-all;
	word-break: break-word;
	-ms-word-break: break-all;
	hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	max-height: 200px;
	font-size: 2.5rem
}

.answer p {
	margin-bottom: 2.5rem;
}

p.credit {
	color: #f0f0f0;
	margin-top: 10px;
}

p.credit a {
	color: #949afa;
	text-decoration: none;
}

p.credit a:hover {
 	color: #6d8bfb;
}

@media(max-width: 768px) {
	h3.sub-title { font-size: 1.5rem; }
	
	.message input[type=text], .message input[type=button] {
		width: 100%;
	}
	
	.message input[type=button] {
		margin-top: 1em;
	}
}

@media(max-width: 576px) {
	h1.main-title { font-size: 2rem; }
	
	h3.sub-title { font-size: 1rem; }
}

@media(max-width: 492px) {
	.answer { padding: 1.5em; }
}










